.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: hsla(0, 0%, 0%, 0.5);

  &-content {
    position: fixed;
    width: 350px;
    height: fit-content;
    inset: 0;
    margin: auto;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 hsla(0, 0%, 0%, 0.2),
      0 7px 20px 0 hsla(0, 0%, 0%, 0.17);
    background: $light-color;
    text-align: center;
    animation-name: modalopen;
    animation-duration: $modal-duration;

    h1 {
      margin-bottom: 3rem;
    }

    .text-win {
      color: $secondary-color;
    }

    .text-lose {
      color: $lose-color;
    }
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
