$font-stack-one: 'Fresca', sans-serif;
$font-stack-two: 'Hind', sans-serif;

$light-color: hsl(0, 0%, 100%);
$dark-color: hsl(0, 0%, 24%);
$primary-color: hsl(205, 100%, 50%);
$secondary-color: hsl(155, 90%, 50%);
$lose-color: hsl(355, 100%, 50%);

$background-image: linear-gradient(
  to right,
  hsl(205, 100%, 50%),
  hsl(155, 100%, 50%)
);

$modal-duration: 1s;

@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin button-style($color, $background) {
  padding: 0.5em 2.5em;
  border-radius: 5px;
  border: 2.5px solid $color;
  background: $background;
  color: $color;
  font-family: $font-stack-two;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
}

$font-sizes: (
  heading: 3.8,
  rules: 1.35,
  score: 2.5,
  choice: 1.25,
  reset: 1.25,
  text-win: 1.75,
  text-lose: 1.75,
);

@each $name, $size in $font-sizes {
  .#{$name} {
    font-size: #{$size}em;
  }
}

%text-style {
  max-width: 65ch;
  line-height: 1.5;
  margin: 2rem 1rem;
  font-weight: bold;
}

.heading,
.choice,
.reset {
  @extend %text-style;
}
